body {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;

	margin: 0px;
	padding: 0px;
	height: 100vh;
	overflow: hidden;
	user-select: none;

	border: 1px solid #ffffff;
	background: radial-gradient(at 0% 0%, #FFFFFF 50%, #000000);

	font-family: cursive;
	font-size: 1.3rem;
	text-align: center;
}

.reg, .auth {
	display: flex;
	flex-flow: column;

	margin: 20px;
	padding: 20px;

	width: 300px;
	height: 60vh;

	border: 8px solid #000000;
  	border-radius: 30px;
}

.empty {
	flex-grow: 1;
}

.inp {
	margin: 20px;

	font-family: cursive;
	font-size: 1.3rem;
	text-align: center;

	outline: none;
	border: 5px solid #000000;
	border-radius: 30px;

	height: 50px;
}

.btn {

	height: 55px;
	margin: 15px 0px 0px 0px;

  	background-color: transparent;
  	border: 8px solid #000000;
  	border-radius: 30px;
  	color: #000000;
  	text-transform: uppercase;

  	font-family: cursive;
	font-size: 1.3rem;
	text-align: center;

	outline: 0;
}

.btnanim {
  	border-color: #000000;
  	color: #000000;
  	box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
  	transition: all 150ms ease-in-out;
}

.btnanim:hover {
  	box-shadow: 0 0 10px 0 #000000 inset, 0 0 10px 4px #000000;
}